<div class="center hero-unit">
  <h1>Welcome to Kohlpad</h1>

  <h2>
    This is the home page for
    <a href="http://railstutorial.org/">Kohlpad</a>
    makeup social website.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <p>
  	<p>
	<%= link_to image_tag("k_logo.jpg", alt: "Kohlpad"), 'http://rubyonrails.org/' %>
  	</p>
  </p>	
</div>

