	<!-- FOOTER -->
	<div class="footer">
		<div class="container">
			<div class="row footer-firstrow">
				<div class="col-sm-4 col-xs-6">
					<div class="footer-linkswrapper">
						<div class="footer-linkitem"><a href="#">HOME</a></div>
						<div class="footer-linkitem"><a href="#">GALLERIES</a></div>
						<div class="footer-linkitem"><a href="#">TUTORIALS</a></div>
						<div class="footer-linkitem"><a href="#">REVIEWS</a></div>
						<div class="footer-linkitem"><a href="#">FIND A MUA</a></div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-6">
					<div class="footer-linkswrapper">
						<div class="footer-linkitem"><a href="#">ABOUT</a></div>
						<div class="footer-linkitem"><a href="#">CONTACT</a></div>
						<div class="footer-linkitem"><a href="#">NEWS</a></div>
						<div class="footer-linkitem"><a href="#">HELP</a></div>
						<div class="footer-linkitem"><a href="#">PRIVACY</a></div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12">
					<div class="footer-socialwrapper">
						<div class="footer-socialtitle">FIND US ONLINE</div>
						<div class="footer-sociallinks">
							<a href="#"><i class="fa fa-google-plus-square"></i></a>
							<a href="#"><i class="fa fa-facebook-square"></i></a>
							<a href="#"><i class="fa fa-twitter-square"></i></a>
							<a href="#"><i class="fa fa-linkedin-square"></i></a>
						</div>
						<div class="footer-socialtitle">SIGN UP FOR OUR NEWSLETTER</div>						
						<div class="footer-socialnewsletterbarwrapper">
							<form>
								<input class="footer-socialnewsletterbarinput" type="text" placeholder="Enter your email...">
								<button class="footer-socialnewsletterbarbutton"><i class="fa fa-newspaper-o"></i></button>
							</form>
						</div>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 footer-secondrow">
					<span class="footer-copyright">&copy; 2014 - kohlpad</span>
					<span class="footer-linksseparator">-</span>
					<span class="footer-linkitem"><a href="#">PRIVACY & SECURITY</a></span>
					<span class="footer-linksseparator">-</span>
					<span class="footer-linkitem"><a href="#">SITE MAP</a></span>
					<span class="footer-linksseparator">-</span>
					<span class="footer-linkitem"><a href="#">TERMS & CONDITIONS</a></span>
				</div>
			</div>
		</div>
	</div>
	<!-- /FOOTER -->